
#form{
    background-color:rgb(119, 167, 189);
    display: flex;
    margin: auto;
}

.button{
    margin: auto;
    background-color:#e992a4;
    font-size: 30px;
    align-items: center;
    width: 20%;
    padding: 10px;
}
.card {
    display: flex;
    background-color:rgb(226, 181, 181);
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

.card-title {
    font-size: 2.5rem;
    margin: 2rem 0;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.card-image {
    max-width: 80%;
    margin: auto;
}