
.card {
    display: flex;
    background-color:rgb(226, 181, 181);
    width: 70vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.card-title {
    font-size: 2.5rem;
    margin: 2rem 0;
    align-items: center;
    text-transform: uppercase;
    color: #1e3025;
}

.card-image {
    width: 30%;
    height: 450px;
    object-fit: cover;
    object-position: 55% 55%; 
}